/* app/globals.css */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --metal-000: #f5f5f5;
  --metal-100: #c2c1c6;
  --metal-200: #abafb9;
  --metal-300: #8e9299;
  --metal-400: #6e7177;
  --metal-500: #4e5054;
  --metal-600: #3a3b3d;
  --metal-700: #262728;
  --metal-800: #171718;
  --metal-900: #0a0a0a;
}

@theme inline {
  --color-background: var(--metal-000);
  --color-foreground: var(--metal-900);
  --color-metal-100: var(--metal-100);
  --color-metal-200: var(--metal-200);
  --color-metal-300: var(--metal-300);
  --color-metal-400: var(--metal-400);
  --color-metal-500: var(--metal-500);
  --color-metal-600: var(--metal-600);
  --color-metal-700: var(--metal-700);
  --color-metal-800: var(--metal-800);
  --color-metal-900: var(--metal-900);
}

.font-dotmatrix {
  font-family: var(--font-dot-matrix);
}

.font-tiny {
  font-family: var(--font-tiny);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}
.animate-marquee2 {
  animation: marquee2 18s linear infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* globals.css o tu archivo de estilos */
.map-container {
  box-shadow: 0 2px 16px rgba(0,0,0,0.12);
  background: #efefef;
}

.leaflet-control-attribution,.leaflet-control{
	opacity: 60% !important;
	background: transparent !important;
}

.leaflet-container a {
	color: var(--foreground) !important;
}

.leaflet-container a svg  {
	display: none !important;
}

.leaflet-control-container .leaflet-top{
	width: 100% !important;
	display: flex !important;
	justify-content: flex-end !important;
}

.leaflet-control-container .leaflet-control-zoom {
	border: none !important;
	display: flex !important;
	flex-direction: column !important;
	gap: 5px !important;
	margin-right: 10px !important;
}

.leaflet-control-container .leaflet-control-zoom a{
	background: transparent !important;
	border-bottom: 0 !important;
}